$height_header_appbar:58px;
$height_content_appbar:60px;
$COLUMN_FOOTER_HEIGHT:40px;
.board_card
{
    cursor: pointer;
    height: fit-content;
    min-width: 345px;
    overflow-y: auto;
    margin-bottom: 10px;
    max-height:calc(100vh - $height_header_appbar -  $height_content_appbar) ;
    // height: calc(100vh - $height_header_appbar -  $height_content_appbar);
    border-radius: 8px;
}
.body_board
{
    height: calc(100vh - $height_header_appbar -  $height_content_appbar - 10px);  
    // &::-webkit-scrollbar {
    //     height: 12px;
    //         width: 10px
            
    //   }
      
    //   &::-webkit-scrollbar-track {
    //     -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
    //     // border-radius: 5px;
    //     height: 12px;
    //   }
      
    //   & ::-webkit-scrollbar-thumb {
    //     height: 0px;
    //     // border-radius: 5px;
    //     -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4);
    //   }
    
}
.content_card
{
    margin-right: 5px;
    max-width: 345px;
    padding: 0 5px 15px 15px;
    height: fit-content;
    max-height:calc(100vh - $height_header_appbar -  $height_content_appbar - $height_content_appbar - $COLUMN_FOOTER_HEIGHT - 34px) ;
    &::-webkit-scrollbar {
        width: 7px;
        opacity: 0;
        height: 5px;
      }
      
      &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
        border-radius: 8px;
      }
      
      &::-webkit-scrollbar-thumb {
        border-radius: 8px;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4);
      }
}
.card_action
{
    button{
        border: none;
    }
}

